<h1><b>Please fill out this form if you are interested in volunteering for Women's Directory. Someone will reach out to help you get started. Thanks!</b></h1><br>

<%= form_with url: volunteers_path do |form| %>

  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="First Last">
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="email" placeholder="volunteeer@gmail.com">
    </div>
  </div>

  <div class="field">
    <label class="label">Phone</label>
    <div class="control">
      <input class="input" type="text" placeholder="222-222-2222">
    </div>
  </div>


  <div class="field">
    <label class="label">How many hours per week you would like to volunteer:</label>
    <div class="control">
      <input class="input" type="text" placeholder="2">
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
  </div>
</div>
<% end %>
