<div class="autostyle">
  <h1>Thank you!</h1>
  <p>Your submission helps us improve Women's Directory.</p>
  <p>We have sent you a confirmation link to <strong><%= @email %></strong>. You need to <strong>click this link</strong> for us to review your submission.</p>
</div>
