<h1 class="is-size-3 mb-3">User Permissions</h1>
<div>
  <%= form_with url: admin_user_permissions_path do |f| %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <% @roles.each do |role| %>
            <th><%= role.to_s.titleize %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <% @roles.each do |role| %>
              <td><%= f.check_box "#{user.id}-#{role}", checked: user.roles.include?(role) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="mb-2">
      <button class="button is-success has-text-weight-bold" type="submit">💾 Save Changes</button>
    </div>
    <div>
      <a class="button" href="/">&laquo; Cancel</a>
    </div>
  <% end %>
</div>
