<h1>Volunteer</h1>

<form>
  <label for="name">
    Name: <input type="text" id="name" name="name">
  </label>
  <label for="contact">
    Email or phone number: <input type="text" id="contact" name="contact">
  </label>
  <label for="why">
    Why do you want to volunteer for Women's Directory? <textarea id="why" name="why"></textarea>
  </label>
  <label for="hours">
    How many hours are you planning on volunteering per week? <input type="text" id="hours" name="name">
  </label>
</form>
