<h1 class="is-size-3">Find resources near me</h1>
<p class="mb-3">Your location stays private. <a href="/privacy">Learn more.</a></p>

<div class="set-user-location-form mb-5">
  <div class="mb-3">
    <%= form_tag set_user_location_path do %>
      <a onclick="locate()" class="button is-info">Use my current location</a>
    <% end %>
  </div>

  <div class="mb-3">
    <%= link_to "« No thanks, go back", "javascript:history.back()", class: "button is-info" %>
  </div>
</div>

<script>
async function sendAndRedirect(data) {
  const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute("content")
  try {
    await fetch("<%= set_user_location_path %>", {
      method: 'POST',
      credentials: 'include',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ authenticity_token: csrfToken, ...data }),
    })
  } catch {
    return location.reload()
  }
  window.location.href = document.referrer;
}

async function success(pos) {
  await sendAndRedirect({ lat: pos.coords.latitude, lon: pos.coords.longitude })
}

async function failure() {
  // force an error
  await sendAndRedirect({})
}

function locate() {
  if (!navigator.geolocation) return failure()
  navigator.geolocation.getCurrentPosition(success, failure)
}

async function saveZip(event) {
  event.preventDefault();
  await sendAndRedirect({ zip: document.querySelector('#zip').value })
}

document.querySelector('form.zip').addEventListener('submit', saveZip);
</script>
