<div class="columns category-columns">
  <% category_columns.each do |column| %>
  <div class="column">
    <ul>
      <% column.each do |category| %>
      <li>
        <%= link_to category.name, show_category_path(category) %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
