<h1 class="is-size-1">Women's Directory</h1>

<div class="columns">
  <% @columns.each do |column| %>
  <div class="column">
    <ul>
      <% column.each do |category| %>
      <li>
        <%= link_to category.name, show_category_path(category) %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>