@font-face {
  font-family: "Libre Franklin";
  src: url("../assets/fonts/Libre_Franklin/static/LibreFranklin-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../assets/fonts/Libre_Franklin/static/LibreFranklin-Italic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../assets/fonts/Libre_Franklin/static/LibreFranklin-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("../assets/fonts/Libre_Franklin/static/LibreFranklin-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

* {
  font-family: "Libre Franklin", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
