@import "./fonts.scss";
@import "bulma/sass/utilities/initial-variables.sass";

// Auto-style specified text with a sane set of default styles.
.autostyle {
  h1 {
    font-size: $size-3;
  }
  h2 {
    font-size: $size-4;
  }
  h3 {
    font-size: $size-5;
  }
  h4 {
    font-size: $size-6;
  }
  h5,
  h6 {
    font-size: $size-7;
  }

  p,
  ul,
  ol {
    margin-bottom: 0.5rem;
  }

  ul,
  ol {
    padding-left: 24px;
    li {
      list-style-type: disc;
    }
  }
}

// Pills for annotating elements with small bits of emphasized data
.pill {
  background-color: #666;
  color: #fff;
  padding: 3px 6px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 12px;
  a {
    color: #fff;
  }
}

// Fix bottom spacing on category columns
.category-columns {
  margin-top: 8px;
  margin-bottom: 0 !important;
  .column {
    padding-top: 0;
    padding-bottom: 0;
    ul {
      margin-bottom: 0;
    }
  }
}

// Container side padding goes missing on tablet and smaller
@media only screen and (max-width: $desktop - 1px) {
  .main-content {
    padding-left: 12px;
    padding-right: 12px;
  }
}

// Make summaries look clickable
details summary {
  cursor: pointer;
}

// Style changes view
.changes .values {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: -3px;

  .to {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }
}

//
