<h1><%= @location.name %></h1>

<h3>
Denver Central offers abortion referals, birth control,
HIV, LGBT, Morning After Pill, Pregnancy Testing, Primary Care,
STD testing and Women Health Care services.
</h3>

<h3>See website for current hours of operation.</h3><br>
<p><%= @location.website %></p>
