<nav class="navbar is-info mb-3" role="navigation" aria-label="main navigation">
  <div class="container is-max-desktop">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold" href="/">
        Women's Directory
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-items">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-items" class="navbar-menu">
      <div class="navbar-start">
        <% top_level_pages.each do |page| %>
        <a class="navbar-item" href="<%= page.full_path %>"><%= page.label %></a>
        <% end %>
      </div>

      <% if current_user %>
      <div class="navbar-end">
        <a class="navbar-item has-text-black has-text-weight-bold has-background-warning" href="/cms" target="_blank">CMS</a>
        <a class="navbar-item has-text-weight-bold has-background-danger" href="/admin" target="_blank">Admin</a>
        <a class="navbar-item is-flex-direction-column is-align-items-end is-size-7" href="/users/sign_out">
          <span class="has-text-weight-bold">Sign out</span>
          <%= current_user.email %>
        </a>
      </div>
      <% end %>
    </div>
  </div>
</nav>