<label for="organization">
  <p class="has-text-weight-bold">
    Pick Your Organization
    <%= render partial: 'required' %>
  </p>
  <%= select_tag 'org[id]', options_from_collection_for_select(@orgs, :id, :name, @org.id), id: 'organization', prompt: '(no organization selected)' %>
</label>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

<script>
  $(document).ready(() => $('select#organization').select2())
</script>

<style>
  .select2-container, select#organization {
    width: 100% !important;
  }
</style>
