<%# TODO: DO NOT MERGE until we get a contact page up to link to %>
<%= form_with url: create_submission_path, id: 'submission-form' do |f| %>
  <h1 class="is-size-3">
    Add Your Location
  </h1>

  <%= render partial: 'loc_form' %>

  <h1 class="is-size-3 mt-6">
    Complete Your Submission
  </h1>
  <p>
    By submitting this form, you give us permission to list your organization and location on Women's Directory. You can revoke this consent at any time. If you have any questions, please <a href="missing">contact us</a> and we will be happy to help.
  </p>

  <%= f.submit 'Submit Form', class: 'button is-info mt-3' %>
<% end %>
<script>
  document.querySelectorAll("input[name='org_exists']").forEach(r => {
    r.addEventListener("change", e => {
      if (e.target.value === "true") {
        document.querySelector("#org-exists-true-form").classList.remove("is-hidden");
        document.querySelector("#org-exists-false-form").classList.add("is-hidden");
      } else {
        document.querySelector("#org-exists-true-form").classList.add("is-hidden");
        document.querySelector("#org-exists-false-form").classList.remove("is-hidden");
      }
    });
  })

  // $("#submission-form")
  // $("form")
  // .on("ajax:success", function(e, data, status, xhr) {
  //   console.log("success");
  //   console.log({data, status, xhr})
  // }).on("ajax:error", function(e, xhr, status, error) {
  //   console.log("error");
  //   console.log({status, xhr, error})
  // });

  // $(document).on("ajax:complete", "form", function(status, response){
  //   console.log({status, response})
  //   response = JSON.parse(response.responseText);
  //   if (response.error)
  //     console.log("error")
  //   else
  //     console.log("success")
  // })
</script>
